Bottleneck 
Brotli 
contourpy
cycler 
fonttools 
joblib
kiwisolver
matplotlib==3.10.0
mkl-service==2.4.0
mkl_fft 
mkl_random 
numexpr 
numpy 
packaging 
pandas
pillow
pip 
pyparsing 
PyQt6==6.7.1
PyQt6_sip 
python-dateutil 
pytz 
scikit-learn 
scipy 
setuptools==72.1.0
sip 
six 
threadpoolctl 
tornado 
tzdata
xgboost=3.0.0
wheel==0.45.1
